
<h3 class="head">Add details </h3>
<div class="flex-container addItem">
<form>
    <div class="form-group">
      <label for="Product Title"></label>
      <input type="" class="form-control" id="" aria-describedby="" placeholder="Product Title">
        </div>
    <div class="form-group">
      <label for="price"></label>
      <input type="number" class="form-control" id="" placeholder="price">
    </div>
    <div class="form-group">
        <label for="price"></label>
        <input type="number" class="form-control" id="" placeholder="Discount">
      </div>
      <div class="form-group">
        <label for="price"></label>
        <input type="number" class="form-control" id="" placeholder="InStock number">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>