

<div>
    <h3 class="h3"></h3>
    <table  class="table table-bordered table-striped ">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product Details</th>
              <th scope="col"></th>
           
            </tr>
          </thead>
        <tr class="col-md-3 col-sm-6"  *ngFor="let product of products">
            
                <td class="product-image" *ngIf=product.imageurl>
                    <img [src]="product.imageurl" height="70px" width="70px">
                </td>

                <td class="product-content">

                    {{product.name}}
                <br>
                    Rs.{{product.price}}

                </td>
                <td> <button  class="btn btn-primary" (click)="addToCart(product)">Add To Cart</button> </td>

   
        </tr>


    </table>
</div>
<hr>